<h1>投稿一覧</h1>
<!--インスタンス変数を活用し作成-->
<% @lists.each do |list|%>

<p>タイトル</p>
<!--詳細画面へ遷移するリンクを作成-->
<span>
  <%= link_to list.title ,list_path(list.id) %>
</spam>

 <p>画像</p>
 <%= image_tag @list.image ,size:"200x200"%>

<% end %>
